*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Times New Roman', Times, serif;
    background: linear-gradient(145deg, rgb(34,34,241), rgb(242, 106, 242));
    min-height: 100vh;
    padding: 40ox 20px;
}

.container{
    max-width: 700px;
    margin: 0 auto;
}

h1{
    text-align: center;
    color: wheat;
    margin-bottom: 40px;
    font-size: 2.5rem;
}

.faq-item{
    background: white;
    margin-bottom: 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.6);
}

.faq-item input[type="checkbox"]
{
    display: none;
}

.faq-question{
    display: block;
    padding: 10px;
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 600;
    color: #333;
    position: relative;
}

.faq-question:hover{
    background: (211,206,201);
}

.faq-question::after{
    content: '+';
    position: absolute;
    right: 20px;
    transform: translateY(-50%);
    font-size: 1.rem;
    color: rgb(68, 108, 150);
    transition: transform 0.3s;
}


.faq-answer{
    max-height: 0;
    overflow: hidden;
    background: wheat;
}

.faq-answer-content{
    padding: 0 20px;
    color: #333;
    line-height: 1.6;
}

.faq-item input[type="checkbox"]:checked~.faq-question::after{
    transform: translateY(-50%) rotate(45deg);
}

.faq-item input[type="checkbox"]:checked~.faq-answer{
    max-height: 500px;
    padding: 20px 0;
}