:root{
 --primary:rgb(83, 83, 222);
 --bg-body:rgb(233, 221, 201);
 --bg-card:rgb(229, 221, 221);
 --text-main:#342c2c;
 --text-muted:#1b1d21;
 --border:rgb(88, 55, 55);
 --input-bg:rgb(235, 216, 216);
}

#theme:checked ~ .form-wrapper{
 --bg-body:rgb(190, 171, 138);
 --bg-card:rgb(197, 182, 182);
 --text-main:#1f1f1f;
 --text-muted:#6b7280;
 --border:rgb(157, 147, 147);
 --input-bg:white; 
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
    font-family: 'Times New Roman', Times, serif;
    background-color: var(--bg-body);
    color: var(--text-main);
    display: flex;
    justify-content: center;
    padding: 40px 20px;

}
.survey-form{
  background: var(--bg-card);
  padding: 35px;
  border-radius: 20px;
  box-shadow: 0 10px 25px;
}

header h1{
  margin: 0%;
  font-size: 2rem;
}

header p{
  color: var(--text-muted);
  font-size: 0.9rem;
  margin-top: 5px; 
}

.toggle{
  display: flex;
  justify-content: flex-end;
  gap: 8px;
  margin-bottom: 20px;
  align-items: center;
}

.switch{
  width: 45px;
  height: 22px;
  background: blue;
  border-radius: 20px;
  position: relative;
  cursor: pointer;
}

.switch::after{
  content: '';
  position: absolute;
  width: 18px;
  height: 18px;
  background: white;
  border-radius: 50%;
  top: 2px;
  left: 2px;
}
#theme:checked ~.form-wrapper .switch::after{
  left: 25px;
}

#theme:checked ~ .form-wrapper .switch{
  background: var(--primary);
}

.form{
  margin-bottom: 20px;
}

label{
  display: block;
  font-weight: 800;
  font-size: 1.2rem;
  margin: 8px;
}

.star-rating {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

.star-rating input{ display: none;}
.star-rating label{
  color: burlywood;
  cursor:pointer;
  transition: 0.2s;
}


.star-rating input:checked ~label,
.star-rating label:hover,
.star-rating:hover ~label{
  color: yellow;
}

input[type="text"], input[type="date"], input[type="file"]{
  width: 100%;
  padding: 15px;
  border: 2px solid rgb(75, 64, 64);
  border-radius: 2px;
}
.file-upload{
   border: 2px dashed var(--border);
   padding: 20px;
   text-align: center;
   border-radius: 10px;
   color: #080404;
   cursor: pointer;
}


.btn {
  width: 100%;
  margin-top: 20px;
  padding: 12px;
  border: none;
  border-radius: 10px;
  background: #4242b0;
  color: white;
  font-size: 15px;
  cursor: pointer;
}

.btn:hover{
  background: #2b2b3d;
}
input[type="range"]{
  width: 100%;
}
.range-lable{
  justify-content: space-between;
  display: flex;
}

input[type="checkbox"]{
  display: none;
}


 