body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: rgb(19, 18, 18);
    font-family: Arial, sans-serif;
}

.profile{
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 2px;
    
}


.name{
    font-size: 12px;
    color: #888;
    margin-top: 2px;
    margin-bottom: 6px;
}

.img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}

.text{
    font-size: 13px;
    color: #ddd;
    line-height: 1.5;
    margin-top: 6px;
}



