body {
    margin: 0;
    padding: 0;
    font-family: "Georgia", serif;
    background: #f4f4f4;
}


div {
    max-width: 800px;
    margin: 50px auto;
    background: white;
    padding: 40px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}


.page {
    text-align: center;
    margin-bottom: 10px;
}


.chapter {
    text-align: center;
    font-style: italic;
    color: #555;
    margin-bottom: 30px;
}


.content {
    text-align: justify;
    line-height: 1.8;
    font-size: 18px;
    color: #333;
}


.big {
    float: left;
    font-size: 80px;
    line-height: 1;
    padding-right: 10px;
    padding-top: 5px;
    font-weight: bold;
    color: #2c2c2c;
}
