 :root{
 --primary:rgb(161, 161, 230);
 --bg-body:wheat;
 --bg-card:white;
 --text-main:#1f1f1f;
 --text-muted:#6b7280;
 --border:rgb(94,94,94);
 --input-bg:white;
}

 *{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}


body {
  background: #f2f4f8;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 380px;
}

.card {
  background: #e6dbdb;
  padding: 25px;
  border-radius: 16px;
  box-shadow: 0 10px 25px #f3eeee1a;
}

.icons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
  margin-bottom: 10px;
}

.moon {
  width: 35px;
  height: 18px;
  background: #ddd;
  border-radius: 20px;
}

.label {
  font-size: 14px;
  font-weight: 600;
  display: block;
  margin-top: 15px;
  margin-bottom: 6px;
}
h2 {
  margin-bottom: 5px;
}
.range-text {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: #666;
}
.upload-box {
  border: 2px dashed #ddd;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  color: #888;
  cursor: pointer;
}
button {
  width: 100%;
  margin-top: 20px;
  padding: 12px;
  border: none;
  border-radius: 10px;
  background: #6c6cff;
  color: white;
  font-size: 15px;
  cursor: pointer;
}
